
    <!-- Navbar -->
    <header>
        <a href="/" class="logo"><k style="color: #0f0c27">Khalid</k> <k style="color: #ffa400">Iqbal</k></a>
 
        <div class="bx bx-menu" id="menu-icon"></div>
 
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            
            <div class="bx bx-moon" id="darkmode"></div>
        </ul>
    </header>
    <div id="particles-js"></div> 