<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Link To CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Box Icons -->
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<title>About | Im Khalid Iqbal</title>
</head>
<body>
<%- include('partials/header') %>
<section class="about" id="about">
    <div class="heading">
        <h2 style="color: #fff;">About Me</h2>
        <spa  style="color: #ffa400;">Introduction</span>
    </div>
    <!-- About Content -->
    <div class="about-container">
        <div class="about-img">
            <img src="assets/dp2.png" alt="">
        </div>
        <div class="about-text">
            <p style="color: #fff;">My name is Khalid Iqbal, and I’ve been a passionate Graphic Designer, Film Maker, Web Developer for the past three years, mostly freelancing.</p>
            <div class="information">
                <!-- Box 1 -->
                <div class="info-box">
                    <i class='bx bxs-user' ></i>
                    <span>Khalid Iqbal</span>
                </div>
                <!-- Box 2 -->
                <div class="info-box">
                    <i class='bx bxs-phone' ></i>
                    <span>+917006087658</span>
                </div>
                <!-- Box 3 -->
                <div class="info-box">
                    <i class='bx bxs-envelope' ></i>
                    <span>khalidganie57@gmail.com</span>
                </div>
            </div>
            <a href="/assets/cv.pdf" class="btn">Download Cv</a>
        </div>
    </div>
</section>







<%- include('partials/footer') %>