<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Link To CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Box Icons -->
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<title>Im Khalid Iqbal</title>
</head>
<body>
<%- include('partials/header') %>
<div id="particles-js"></div>    
<!-- Home -->
   
    <section class="home" id="home">
        <div class="social">
            <a href="https://api.whatsapp.com/send?phone=917006087658"><i class='bx bxl-whatsapp'></i></a>
            <a href="https://instagram.com/im_khalid_iqbal"><i class='bx bxl-instagram' ></i></a>
            <a href="https://www.behance.net/khalidiqbal7"><i class='bx bxl-behance' ></i></a>
        </div>
        <div class="home-img">
            <img src="assets/me2.png" alt="">
        </div>
        <div class="home-text">
            <div class="texthello">HELLO</div>
            <h1>I'm</h1>
            <h1>Khalid Iqbal</h1>
            <hr size="10" width="20%" color="#ffa400">
            <p>Graphic Designer and <br> UI/UX
                Designer</p>
            
    </div>
    </section>


<%- include('partials/footer') %>