<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Link To CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Box Icons -->
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<title>Services | Im Khalid Iqbal</title>
</head>
<body>
<%- include('partials/header') %>


<section class="home" id="home">
 
    <!-- Portfolio -->
   
</section>
<section class="portfolio" id="portfolio">
 <div class="heading">
   <h1 style="color:#ffa400;">
  Motion Graphics
   </h1>
     <span style="color:rgb(255, 255, 255)">Animations</span>
 </div>
<div class="portfolio-content">
   <div class="portfolio-img">
    <video width="320" height="240" controls>
        <source src="assets/Asal_Animation.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
        <div class="portfolio-img">
            <video width="320" height="240" controls>
                <source src="assets/araafh_talbina_animation.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
         </div>
         <div class="portfolio-img">
            <video width="320" height="240" controls>
                <source src="assets/araafh_Animation.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
           </div>
 
     
 </div>
</section>




<%- include('partials/footer') %>