<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Link To CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Box Icons -->
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<title>Skills | Im Khalid Iqbal</title>
</head>
<body>
<%- include('partials/header') %>

<section class="skills" id="skills">
  <div class="heading">
      <h2 style="color: #ffa400;">Skills</h2>
      <span style="color: #fff;">The road to success is always under construction</span>
  </div>
  <!-- Skills Content -->
  <div class="skills-container">
    <div class="skills-img">
      <img src="assets/SKILL.png" alt="">
  </div>
      <div class="bars">
          <!-- Box 1 -->
          <div class="bars-box">
              <h3>HTML</h3>
              <span>100%</span>
              <div class="light-bar"></div>
              <div class="percent-bar html-bar"></div>
          </div>
          <div class="bars-box">
            <h3>XML (Andriod)</h3>
            <span>100%</span>
            <div class="light-bar"></div>
            <div class="percent-bar html-bar"></div>
        </div>
          <!-- Box 2 -->
          <div class="bars-box">
              <h3>CSS</h3>
              <span>82%</span>
              <div class="light-bar"></div>
              <div class="percent-bar css-bar"></div>
          </div>
          <!-- Box 3 -->
          <div class="bars-box">
              <h3>JavaScript</h3>
              <span>74%</span>
              <div class="light-bar"></div>
              <div class="percent-bar js-bar"></div>
          </div>
           <!-- Box 4 -->
           <div class="bars-box">
            <h3>Figma</h3>
            <span>100%</span>
            <div class="light-bar"></div>
            <div class="percent-bar js-bar"></div>
        </div>
           <!-- Box 5 -->
          <div class="bars-box">
            <h3>Adobe After Effects</h3>
            <span>84%</span>
            <div class="light-bar"></div>
            <div class="percent-bar js-bar"></div>
        </div>
          <!-- Box 6 -->
          <div class="bars-box">
            <h3>Adobe Photoshop 100%</h3>
            <span>84%</span>
            <div class="light-bar"></div>
            <div class="percent-bar js-bar"></div>
        </div>
         <!-- Box 7 -->
         <div class="bars-box">
          <h3>Adobe Illustrator 100%</h3>
          <span>84%</span>
          <div class="light-bar"></div>
          <div class="percent-bar js-bar"></div>
      </div>
          <!-- Box 8 -->
          <div class="bars-box">
              <h3>Adobe Priemere Pro</h3>
              <span>100%</span>
              <div class="light-bar"></div>
              <div class="percent-bar react-bar"></div>
          </div>
      </div>
  </div>

</section>





<%- include('partials/footer') %>