<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Link To CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Box Icons -->
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<title>Social Media | Im Khalid Iqbal</title>
</head>
<body>
<%- include('partials/header') %>



<section class="home" id="home">
 
     <!-- Portfolio -->
    
</section>
 <section class="portfolio" id="portfolio">
  <div class="heading">
    <h1 style="color:#ffa400;">
   Social Media
    </h1>
      <span style="color:rgb(255, 255, 255)">Creatives</span>
  </div>

  <div id="run" class="portfolio-img"></div>
  
</section>


<script src="js/images.js"></script>
<%- include('partials/footer') %>